/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 14px;
	vertical-align: baseline;
}
html{
	line-height: 1.3;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.table th, .table td{
	vertical-align: middle;
}
a{
	text-decoration: none;
}
.el-scrollbar {
	height: 100%;
}
.el-scrollbar .el-scrollbar__wrap {
	margin-bottom: 0 !important;
	overflow-x: hidden;
}

/* 标题样式 */
.h1 {
	font-size: 2.5rem;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

/* table布局样式 */
.table-bordered {
    border: 1px solid #dee2e6;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
/* table {
    border-collapse: collapse;
} */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.table td, .table th {
    padding: 1.1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table th, .table td {
    vertical-align: middle;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #FAFAFA;
}
.filter{
	width:250px!important;
	float:right!important;
}
/* 备用图标 */
[class^="my_icon"], [class*="my_icon"]
{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
